---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//feeds.feedburner.com">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  
  <link href="https://fonts.googleapis.com/css?family=Oswald:700&text=REDGADGETS" rel="stylesheet">
  {% seo %}

  <style>
      .my-class .bar {
      background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.561212851929092%,rgba(242, 71, 103,1) 20.561212851929092%,rgba(237, 0, 83,1) 80.56186457247131%);
      }
  </style>
 <!-- Feed fetching by https://github.com/sdepold/jquery-rss -->
 
     <!-- Adsense script -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

 
</head>
<body>
<div class="nanobar my-class" id="my-id" style="position: fixed;">
    <div class="bar"></div>
</div>
  <header>
      <a href="{{site.baseurl}}/"><h1>{{site.title}}</h1></a>
      <time id="today"></time>
  </header>

    <main>
    <article>
      {{ content }}
    </article>
    </main>

<footer>
    
    <p class="copy text-center"><small>Copyrights by {{site.title}} | Developed by <a href="http://webjeda.com">webjeda</a></small></p>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/nanobar.min.js"></script>
<!-- <script src="/js/moment.min.js"></script> -->
<script src="/js/jquery.rss.min.js"></script>


<!-- Display today's date -->
<script src="/js/time.min.js"></script>


<script>
var options={classname:"my-class",id:"my-id"},nanobar=new Nanobar(options);nanobar.go(30);nanobar.go(76);nanobar.go(100);
</script>



<script async>
      jQuery(function($) {
        {% for item in site.data.data.websites %}
        $("#rss-feeds-{{forloop.index}}").rss("{{item.rss}}", {
            limit: 6,
            ssl: true,
            {% if item.format == 'small' %}
            layoutTemplate: "<div class='{{item.title}} small r'>{entries}</div>",  
            entryTemplate:'<div class="c-3 image-small" style="background-image: url({teaserImageUrl})"></div><div class="c-9"><a href="{url}" target="_blank"><div class="meta-small"><p><strong>{title}</strong></p><p>{shortBodyPlain}</p></div></a></div>'
            {% else %}
            layoutTemplate: "<div class='{{item.title}} r'>{entries}</div>",  
             entryTemplate:'<div class="c-4"><div class="card"><div class="image" style="background-image: url({teaserImageUrl})"></div><div class="meta"><h2>{title}</h2><p>{shortBodyPlain}</p><div class="r footer"><div class="c-6"><p><small class="author">by {author}</small><p></div><div class="c-6"><p class="text-right"><small><a target="_blank" href="{url}" class="btn green">Read</a></small></p></div></div></div></div></div>'    
            {% endif %}
        });
        {% endfor %}
      });
</script>
{% include analytics.html %}
</body>
</html>
